{% ckan_extends %}

{% block again_button %}
    <button data-module="dataset-review-modal" class="btn btn-default" name="save" value="again" type="button">{{ _('Save & add another') }}</button>
{% endblock %}

{% block save_button %}
    <button data-module="dataset-review-modal" class="btn btn-primary" name="save" value="go-metadata" type="button">
        {% block save_button_text %}{{ _('Finish') }}{% endblock %}
    </button>
{% endblock %}

{% block add_button %}
    <button data-module="dataset-review-modal" class="btn btn-primary" name="save" value="go-dataset-complete" type="button">{{ _('Add') }}</button>
{% endblock %}

