{% if pkg and pkg.state == 'active' %}
  <div class="data-reuse-section p-4">
    <h3>{{ _('Share Your Experience') }}</h3>
    <p>{{ _('Have you used this dataset? Share your experience to help others understand its value and potential applications.') }}</p>
    
    <div class="data-reuse-actions">
      <a href="{{ h.url_for('data_reuse.submit_form', package_id=pkg.id) }}" 
         class="btn btn-primary mb-2">  
        <i class="fa fa-edit"></i> {{ _('Share Usage Information') }}
      </a>
      
      {% if h.check_access('data_reuse_list') %}
        <a href="{{ h.url_for('data_reuse.list_submissions', package_id=pkg.id) }}" 
           class="btn btn-default">
          <i class="fa fa-list"></i> {{ _('View all Submissions') }}
        </a>
      {% endif %}
    </div>
  </div>
{% endif %}
