{% extends "admin/base.html" %}

{% block primary_content_inner %}
  <h2>{{ _('Current Verified Users') }}</h2>

  <table class="table table-header table-hover table-bordered">
    <thead>
      <tr>
        <th>{{ _('User') }}</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {% for user in verified_users %}
        <tr>
          <td>{{ h.linked_user(user) }}</td>
          <td>
            <div class="btn-group pull-right">
              <form method="POST" action="{% url_for 'ssen-admin.verified_users' %}">
                {{ h.csrf_input() }}
                <input type="hidden" value="{{ user }}" name="username" />
                <input type="hidden" value="0" name="status" />
                <button
                  type="submit"
                  class="btn btn-danger btn-sm"
                  title="{{ _('Revoke verified user permission') }}"
                >
                  <i class="fa fa-times"></i>
                </button>
              </form>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <hr />

  <h2>{{ _('Promote user to verified user') }}</h2>

  <form method="POST" action="{% url_for 'ssen-admin.verified_users' %}">
    {{ h.csrf_input() }}
    <div class="row">
      <div class="col">

        <div class="form-group">
          <input
            id="promote-username" type="text" name="username" placeholder="Username"
            value="" class="control-medium" data-module="autocomplete"
            data-module-source="/api/2/util/user/autocomplete?ignore_self=true&q=?"
          >
          <input type="hidden" value="1" name="status" />
        </div>

        <div class="form-actions">
          <button
            type="submit"
            class="btn btn-primary"
            title="{{ _('Promote user to verified user') }}"
          >{{ _('Promote') }}</button>
        </div>

      </div>
    </div>
  </form>
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('Verified Users') }}
    </h2>
    <div class="module-content">

      {% trans %}
        <p>Control which users are "verified", conceding higher privileges, for example, in terms of API data querying.</p>
      {% endtrans %}
    </div>
  </div>
{% endblock %}

